*{
  margin: 0;
}

body{
  font-family: 'Segoe UI';
  box-sizing: border-box;
  background: #18191a;
  overflow-x: hidden;
}

.navbar{
  background: #242526;
  width: 100vw;
  padding: 0 20px 0 20px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 2px -2px rgba(255, 255, 255, 0.4);
}

.navbar-left{
  width: 25%;
  display: flex;
  align-items: center;
  text-align: left;
}

.navbar-logo{
  width: 45px;
  height: 45px;
  margin-right: 5px;
}

.input-icons i{
  position: absolute;
}

.input-icons{
  width: 100%;
}

.icon{
  padding: 13px 10px;
  color: #a8abaf;
  min-width: 20px;
  text-align: center;
  margin-right: 20px;
}

.input-feild{
  width: 75%;
  padding: 12px 0 12px 35px;
  background: #3a3b3c;
  border: none;
  border-radius: 25px;
  font-size: 15px;
  color: #a8abaf;
  margin-left: 0;
}

.input-feild:focus{
  outline: none;
}

::placeholder{
  color: #a8abaf;
}

.navbar-center{
  width: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.navbar-center a{
  width: 100px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.navbar-center a:hover{
  background: #3a3b3c;
  border-radius: 10px;
  height: 55px;
  border: none;
}

.active-icon{
  border-bottom: 3px solid #2d88ff;
}

.active-icon i{
  color: #2d88ff!important;
}

.navbar a, .navbar a i{
  text-decoration: none;
  color: #b8bbbf;
  font-size: 23px;
}

.navbar-right{
  width: 25%;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 45px;
}

.navbar-right-profile{
  display: flex;
  align-items: center;
  height: 40px;
  margin-right: 20px;
  transition: 0.2s;
}

/* .navbar-right-profile:hover{
  background: #3a3b3c;
  border-radius: 20px;
  padding: 0 5px;
} */

.navbar-right-profile img{
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.navbar-right-profile span{
  color: #e7e9ed;
  font-size: 15px;
  font-weight: 600;
}

.navbar-right-links i{
  margin-right: 5px;
  background: #404041;
  padding: 12px;
  border-radius: 100%;
  color: #e7e9ed;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
}

.navbar-right-links i:hover{
  background: #4e4f50;
}

.content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-left{
  width: 25%;
  height: 100vh;
  padding-left: 10px;
}

.content-center{
  width: 50%;
  text-align: center;
  height: 100vh;
}

.content-right{
  width: 25%;
  display: flex;
  height: 100vh;
  justify-items: flex-end;
}
 
.content-left ul{
  margin: 0;
  list-style: none;
  padding: 20px 0;
}

.content-left ul li{
  padding: 0 10px;
  margin-bottom: 15px;
}

.content-left ul li a{
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #e7e9ed;
  border-radius: 100%;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
}

.content-left ul li i{
  background: #404041;
  padding: 10px;
  border-radius: 100%;
  color: #e7e9ed;
  cursor: pointer;
  transition: 0.3s;
  font-size: 15px;
  margin-right: 10px;
}

.see-more{
  color: #e7e9ed;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
}

.content-left ul li a img{
  margin-right: 10px;
  width: 35px;
}

.border{
  margin: 0 20px;
  width: 320px;
  border-color: rgba(255, 255, 255, 0.08);
  border-style: solid;
  border-width: 1px;
}

.shortcut-title{
  margin: 15px 15px;
  color: #e7e9ed;
  font-size: 17px;
  font-weight: 500;
}

.shortcut-wrapper{
  padding: 0 10px;
}

.shortcut-wrapper a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #e7e9ed;
  font-size: 15px;
  font-weight: 500;
  padding: 5px;
}

.shortcut-wrapper a img{
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border-radius: 50%;
}

.stories{
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stories img{
  width: 5.9rem;
  padding: 0 5px;
  height: auto;
  border-radius: 15px;
}

.media-container{
  padding: 5px 75px;
}

.share{
  background-color: #242526;
  border-radius: 10px;
  padding: 15px;
}

.share-upSide{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.share-upSide img{
  margin-right: 7px;
  width: 40px;
}

.share-upSide input{
  flex: 1;
  padding: 12px 0 12px 12px;
  background: #3a3b3c;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  color: #a8abaf;
}

.share-upSide input:focus{
  outline: none;
}

.media-container hr{
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.08);
  border-width: 1px;
}

.share-downSide{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  height: 40px;
}

.share-downSide-links{
  display: flex;
  width: 33.3%;
  align-items: center;
  justify-content: center;
}

.share-downSide-links:hover{
  background: #3a3b3c;
  border-radius: 25px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.share-downSide-links i{
  font-size: 25px;
  margin-right: 5px;
}

.share-downSide-links span{
  font-size: 15px;
  color: #b7babe;
  font-weight: 500;
}

.share-downSide-links .live-video-icon{
  color: #f23e5c;
}

.share-downSide-links .photo-video-icon{
  color: #58c472;
}

.share-downSide-links .feeling-icon{
  color: #f8c03e;
}

/* newsfeed style */
.newsfeed{
  background: #242526;
  border-radius: 10px;
  margin: 15px 0;
}

.newsfeed-title{
  padding: 15px;
  display: flex;
  justify-content: start;
  text-align: center;
}

.newsfeed-title img{
  width: 45px;
  height: 45px;
  margin-right: 7px;
  border: 2px solid #3a3b3c;
  border-radius: 50%;
}

.newsfeed .newsfeed-title-content{
  text-align: left;
}

.newsfeed .newsfeed-title-content p{
  color: #e4e6eb;
  font-weight: 500;
}

.newsfeed .newsfeed-title-content p span{
  font-size: 15px;
  font-weight: 400;
}

.newsfeed .newsfeed-title-content span{
  color: #b7babe;
  font-size: 13px;
  font-weight: 400;
}

.newsfeed-describtion{
  min-height: 350px;
}

.newsfeed-subTitle{
  padding: 0 15px;
  color: #e4e6eb;
  font-size: 15px;
  text-align: left;
  margin-bottom: 15px;
}

.newsfeed-description img{
  object-fit: cover;
  width: 100%;
  height: 350px;
}

.newsfeed-description-title{
  margin-top: -5px;
  padding: 10px 15px;
  color: #3a3b3c;
  text-align: left;
}

.newsfeed-description-title span{
  color: #b7babe;
  font-size: 13px;
}

.newsfeed-description-title p{
  color: #e4e6eb;
  font-weight: 500;
  font-size: 15px;
}

.likes-area{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.emijis{
  display: flex;
  align-items: center;
}

.emojis img{
  width: 25px;
  margin: 0;
  margin-bottom: -7px;
}

.emojis span{
  color: #b7babe;
  margin-left: 7px;
  font-size: 17px;
}

.comment-counts{
  color: #b7babe;
}

.divider{
  padding: 0 15px 0 15px;
}

.like-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  padding: 5px 15px;
}

.like-buttons-links{
  display: flex;
  width: 33.3%;
  align-items: center;
  justify-content: center;
  color: #b4b7bb;
  font-weight: 500;
}

.like-buttons-links:hover{
  background: #3a3b3c;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
}

.like-buttons-links i{
  font-size: 18px;
  margin-right: 10px;
}

.content-right-inner{
  width: 90%;
  padding: 10px;
}

.your-pages{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
  color: #a1a4a9;
}

.your-pages h3{
  font-size: 15px;
  font-weight: 500;
}

.your-pages i{
  text-align: right;
  color: #a1a4a9;
}

.content-right ul{
  margin: 0;
  list-style: none;
  padding-left: 0;
}

.content-right ul li{
  margin-left: 15px;
}

.content-right ul li a{
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #e5e7eb;
  font-weight: 500;
  padding: 5px 0;
}

.content-right ul li a img{
  width: 35px;
  height: 35px;
  margin-right: 10px;
  pad;
  border-radius: 100%;
}

.content-right-smalltext{
  font-size: 13px;
  color: #b0b2b6;
  margin: 10px 0;
}

.content-right-smalltext a{
  margin-left: 20px;
  padding-left: 25px;
  font-weight: 200;
  height: auto;
}

.content-right-smalltext a i{
  margin-right: 15px;
  font-size: 15px;
}

.content-right-divider{
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.08);
  border-width: 1px;
  margin-top: 10px;
}

.content-right-birthday{
  margin: 15px 0;
  color: #a1a4a9;
}

.content-right-birthday h3{
  font-size: 15px;
  font-weight: 500;
}

.contact{
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  align-items: center;
  color: #a1a4a9;
}

.contact h3{
  font-size: 18px;
  font-weight: 500;
}

.contact i{
  margin-left: 20px;
}
